
body {
  height: 800px;
  width: 1440px;
  background-color: grey;
}

.home {
  background-color: grey;
  display: flex;
  flex-direction: row;
}
.sidebar {
  background-color: grey;
  color: white;
  width: 30%;
}

.main {
  background-color: white;
  width: 70%;
}
