<div class="home">
  <div class="sidebar">
    <h1>Bloc Chat</h1>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
      Chatrooms
    </button>
    {{ outlet }}
  </div>

  <div class="main">
    {{cookie.store}}
  </div>
</div>
